        <div class="top">APP NAME</div>
        <div class="button"><span>Personalise</span><span>Check</span><span>Group</span><span>Category</span></div>
        <a href="https://ruby-on-rails-ahmed4812.c9users.io/list/new"><span class="button1">+ADD</span></a>
    <div class="table">
    <table style="width:100%">
        <tr>
            
            <th>Date</th>
            <th>Time</th>
            <th>To-do</th>
        </tr>
        <tr>
            
            <td><input type="checkbox"></input>
            <%= a=1 %> <td>  12.30.14</td>
            <td>10</td>
            <td>go home</td>
        </tr>
        <tr>
            
            <td><input type="checkbox"></input>
             <%= a=a+1 %><td> 15.30.14</td>
            <td>10</td>
            <td>go home</td>
        </tr>
        <tr>
            
            <td><input type="checkbox"></input>
            <%= a=a+1 %> <td>14.30.14</td>
            <td>10</td>
            <td>go home</td>
        </tr>
        </div>
        
    </table>
    